.dark-link {
  color: #000;
  font-weight: bold;
}
.price {
  font-size: 1.5em;
  font-weight: bold;
}
.icons-cards {
  font-size: 3em;
  color: #dc3545;
}
.font-1em{
  font-size:1.1em;
  cursor: pointer
}
.font-1con5em{
  font-size:1.5em;
}

@media (min-width: 769px) and (max-width: 992px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .card-img {
    width:50%;
    height: auto;
  }
  .container {
    max-width: 100%;
  }
  .img-thumbnail{
    width:40%;
    height: auto;
    margin-bottom:25px;
    border:none;
  }
}

@media (max-width: 576px) {
    .card-img {
      width:40%;
      height: auto;
    }
    .img-thumbnail{
      width:50%;
      height: auto;
      margin-bottom:25px;
      border:none
    }
  }


